  nav {background-color:#5e9c37;
    }
nav a {
    margin:60px;
    font-size:20px;
    text-decoration:none; 
    color:white;  
    }
body {
    font-family: sans-serif;
}
header {font-size:60px;
text-align: center;}
header img {height:100px;
width:300px;}
header a {text-decoration:none;
border:1px solid rgb(0, 255, 170);
border-radius:10px;
background-color:rgb(0, 255, 170);}
h1 {font-size:60px;}
footer p {font-size:20px;}
        
