h1{color:rgb(159, 40, 151);
margin:-40px 0px 0px 110px;
font-size:90px;}
a{text-decoration:none;
color:rgb(255, 0, 0)}
li{font-size:50px;
color:rgb(255, 0, 0);
margin:0px 0px 0px 60px}
img{width: 100px;
height: 90px;
margin:0px 0px 0px 240px}
