body {
    font-family: sans-serif;
    background-color: #FFA873;
    padding-left: 200px;
    padding-right: 600px;
}
img{
    position: relative;
    opacity: 0.1;
}
.image-2{ top: 60px;
right: 150px;}
.image-3{
    bottom:60px;
    left:200px;
 
}
img:hover{
    opacity: 1;
    border:6px solid #006B53;
    transform: scale(1.2);
    padding:5px;
    transition: all 2s  linear;
}
h1{
    font-size:50px;
    color:#006B53;
}
ul{
   font-size:30px; 
   color:#006B53; 
}
